@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&display=swap');

body {
    margin: 0;
    font-size: 20px;
    color: white;
    background-color: #343E3D;
    text-align: left;
}

.IDA {
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    margin: 20px;
    border-width: 4px;
    background-color: #070A0F;
}


#Logo {
    width: 90px;
    height: 90px;
    margin-right: 373px;
}

div.IDA h3 {
    text-align: center;
    margin: 1em 1px;
}

#Encabe a {
    text-decoration: none;
}

#Encabe h1 {
    display: inline-block;
    margin: 3;
}

#Encabe {
    background-color: #B9B7A7;
    padding: 0px 10px;
    border-bottom-style: solid;
    border-bottom-color: #070A0F;
    border-bottom-width: 2px;
}

#Social-re-extra {
    display: none;
}

@media screen and (max-width: 1085px) {
    #Encabe {
        padding: 0px 5;
    }
}

#Encebe {
    text-align: center;
}

#Social-re {
    display: none;
}

#Social-re-extra {
    display: block;
}

#Redes-sociales-extra a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

#Social-re {
    float: right;
    padding-top: 26px;
}

#Contenido_prin {
    padding: 0.5em 1.5px;
}

div#Social-re a {
    margin-left: 20px;
}

div.IDA img {

    height: 325px;
    width: 275px;
}

div.IDA#seleccionado,
div.IDA:hover {
    border-color: #667761;
    color: #667761;
    transition: 0.3s;
}


#Social-re img {
    width: 20%;
    transition: 0.5;
}

/*FDP */
@media (max-width: 767px) {}

@media (max-width: 768px) and (max-width: 990px) {}

@media (max-width: 991px) {}


#Colorh1 {
    color: white;
}

a {
    text-decoration: none;
}

#Boton {
    padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color:#667761;

}